<app-menu content-id="main-content-cadastroposte"></app-menu>

<ion-header>
  <ion-toolbar  class="teste">
     <ion-buttons slot="start">
      <ion-menu-button color="favorite"></ion-menu-button>
    </ion-buttons>
   

    <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content-cadastroposte">

  <ion-icon name="return-up-back-outline" class="bttVoltarCadastro-poste" color="favorite" style="margin-left: 5%; "  (click)="go ('/demanda')"></ion-icon>
  <ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casaCadPoste"></ion-icon>

  
  <div class="cadPoste">
    <ion-label color="favorite" class="LampSty">
      <h1>Cadastre as informações<br> do poste:</h1>
    </ion-label>
  </div>
    


    <div class="poste">
      <ion-input [(ngModel)]="descricao" required class="cadNome" color="favorite" label="Endereço" label-placement="floating" fill="outline" placeholder="Ex: Estado, Cidade, Bairro, Rua"></ion-input>
    
    
  

 
      <ion-select [(ngModel)]="tipo_poste_id" aria-label="Fruit" class="cadNome" style="margin-top: 5%;" interface="popover" color="favorite" label="Tipo do poste:" label-placement="floating" fill="outline" placeholder="Selecione um tipo de poste">
        <ion-select-option [value]="t.id" *ngFor="let t of tipoPoste">{{ t.descricao }}</ion-select-option>
      </ion-select>

      <br>
      <ion-input [(ngModel)]="unidade" required class="cadConsumidora" color="favorite" label="Unidade consumidora" label-placement="floating" fill="outline" placeholder="insira o código"></ion-input>
    
    
      <ion-button (click)="salvar()" shape="round" fill="outline" color="favorite" class="botaoAcessar" style="width: 30%; margin-left: 35%; margin-top: 10%;">Cadastrar</ion-button>
     

    </div>





</ion-content>
