<ion-content [fullscreen]="true">
  <ion-icon name="home-outline" color="favorite" routerLink="/home" class="casaCadPoste"></ion-icon>

  <ion-img src="../../assets/VoltA.png"></ion-img>

    <ion-label color="favorite" class="LampSty">
      <h1 style="margin-bottom: 6%;">Cadastre as informações<br> do poste:</h1>
    </ion-label>

    <div class="poste">
      <ion-input [(ngModel)]="descricao" required class="cadNome" color="favorite" label="Endereço" label-placement="floating" fill="outline" placeholder="Ex: Estado, Cidade, Bairro, Rua"></ion-input>
    <br>
    <ion-button (click)="salvar()" shape="round" fill="outline" color="favorite" class="botaoAcessar" style="width: 30%; margin-left: 35%;">Cadastrar</ion-button>

   </div>


 





</ion-content>
