    .casaCadPoste{
        
            width: 8%;
            height: 8%;
            margin-left: 7%;
        }

        .cadConsumidora {
  
            width: 70%;
            height: 10%;
            margin-left: 15%;
            margin-right: 15%;
          }
    