


  <ion-grid>
    <ion-row class="etapa2">
      <ion-col><img src="assets/logo2.png"></ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col><h1 class="etapa2">Sobre analise e previsão de demanda:</h1></ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col class="etapa2">A análise de dados visa tomar as decisões precisar baseadas<br> no gráfico, com relação a preços, e expansões
        quanto ao<br> produto. Com finalidade de prever as necessidades futura de<br> uma empresa.
        </ion-col>
      <p></p>
    </ion-row>
  </ion-grid>
  
  <div class="container-25">
    <div class="ellipse-7">
    </div>
<div class="ellipse-9">
    </div>
   <div class="ellipse-8">
    </div>
  </div>
