.casaListalampada{
    width: 10%;
    height: 10%;
    margin-left: 7%;
    position: absolute;
}

.BAddlista-lamp{
    position: absolute;
   margin-left: 70%;
   margin-top: 5%;
}


#open-modal{
    margin-top: 30%;
}