.casaListalampada{
    width: 10%;
    height: 10%;
    margin-left: 18%;
    position: absolute;
}

.BAddlista-lamp{
    position: absolute;
   margin-left: 70%;
   margin-top: 5%;
}


#open-modal{
    margin-top: 30%;
}

.bttVoltarListar-lamp{
    width: 35px;
    height: 35px;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;

}