<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="../../assets/VoltA.png">

  
    <ion-input required class="cadNome" color="favorite" label="Nome" label-placement="floating" fill="outline" placeholder="Digite o seu nome"></ion-input>
    <br>
    <ion-input required class="cadEmail"  color="favorite" label="Email" label-placement="floating" fill="outline" placeholder="Digite o email fornecido pela empresa" helperText="Insira um Email válido" errorText="Email inválido" ngModel email></ion-input>
    <br>

    <ion-input required class="cadSenha" color="favorite" label="Senha" label-placement="floating" fill="outline" placeholder="Digite a senha fornecida pela empresa" helperText="Insira uma senha válida" errorText="Senha inválida" ngModel></ion-input>    
    <br>

  <ion-button shape="round" fill="outline" color="favorite" class="botaoAcessar" routerLink="/home" style="width: 30%; margin-left: 35%;">Cadastrar</ion-button>
  
</ion-content>
