<app-menu content-id="main-content-listarlampada"></app-menu>
<ion-header [translucent]="true">
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-menu-button color="favorite"></ion-menu-button>
</ion-buttons>
<ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content-listarlampada">
  <ion-toolbar>
    <ion-icon name="return-up-back-outline" class="bttVoltarListar-lamp" color="favorite" (click)="go ('/listagens')"></ion-icon>
    <ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casaListarLamp" ></ion-icon>
    <ion-button (click)="go ('/cadastro-lampada')" color="favorite" class="bListar" slot="end">novo</ion-button>
  </ion-toolbar>


  
    
<ion-list>
  <ion-item *ngFor="let  lampada of lampadas">
    <ion-label slot="start">{{ lampada.descricao}}</ion-label>
    <ion-icon name="create" (click)="editar(lampada.id)" style="width: 30%; margin-left: 40%;"></ion-icon>
    <ion-icon name="trash" (click)="excluir(lampada.id)" color="danger"></ion-icon>
  </ion-item>
</ion-list>

<ion-alert
[isOpen] = "isShowDeleteDialog"
  header="Deseja Excluir?"
  [buttons]="alertButtons"></ion-alert>

</ion-content>
