<ion-header [translucent]="true">
  
  <ion-icon name="home-outline" color="favorite" routerLink="/home" class="casaFeed"></ion-icon>
  <img class="logoFeedback" style="margin-left: 15%; margin-right: 30%; width: 80%;" src="../../assets/VoltA.png">
 
  <ion-img id="img-Feed" src="../../assets/Feed-Img3.png"></ion-img>


 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">feedback</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
