<app-menu content-id="main-content-feedback"></app-menu>
<div class="ion-page" id="main-content-feedback">
  <ion-header>
    <ion-toolbar  class="teste">
       <ion-buttons slot="start">
        <ion-menu-button color="favorite"></ion-menu-button>
      </ion-buttons>
     

      <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>

    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true" id="main-content-feedback">

  <ion-icon name="home-outline" color="favorite" routerLink="/home" class="casaFeed"></ion-icon>
  <img class="logoFeedback" style="margin-left: 15%; margin-right: 30%; width: 80%;" src="../../assets/VoltA.png">
  <p class="Feed-txt">Deixe o seu feedback sobre <br>o app</p>
  <ion-img id="img-Feed" src="../../assets/Feed-Img3.png"></ion-img>
  
</ion-content>
