<app-menu content-id="main-content-feedback"></app-menu>
<div class="ion-page" id="main-content-feedback">
  <ion-header>
    <ion-toolbar  class="teste">
       <ion-buttons slot="start">
        <ion-menu-button color="favorite"></ion-menu-button>
      </ion-buttons>
      <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>
      </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true" id="main-content-feedback">

  <ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casaFeed"></ion-icon>
  
  <p class="Feed-txt" (click)="go ('/cadastro-comentario')">Deixe o seu<br> feedback sobre<br> o app</p>
  <ion-img   (click)="go ('/cadastro-comentario')" id="img-Feed" src="../../assets/Feed-Img3.png"></ion-img>

  
      <ion-card>
          
          <ion-item *ngFor="let  comentario of comentarios" class="card-comentario">
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label >{{ comentario.descricao}}</ion-label>
            
            <ion-icon slot="end" name="trash" (click)="excluir(comentario.id)" color="danger"></ion-icon>
          </ion-item>
        
    </ion-card>
 
  
  <ion-alert
  [isOpen] = "isShowDeleteDialog"
    header="Deseja Excluir?"
    [buttons]="alertButtons"></ion-alert>

</ion-content>
