.casaFeed{
    width: 10%;
    height: 10%;
    margin-top: 5%;
    margin-left: 5%
}

.no-click {
    pointer-events:none; //This makes it not clickable
  }
  
  
  
  ion-input {
    font-size: 0.7rem;
  }
   
  .péHome{
    margin-top: 360px;
  }