.imagem-perfil-p{
    width: 90%;
    height: 90%;
    margin-left: 150px;
    margin-top: 15%;
}

.perfil-info{
    line-height: 150px;
}

.casaPerfil{
    width: 10%;
    height: 10%;
    margin-left: 7%;
   
    }