<app-menu content-id="main-content-conjunto"></app-menu>
<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button color="favorite"></ion-menu-button>
  </ion-buttons>
  <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content-conjunto">
  <ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casaGraf"></ion-icon>

  
  <h3 style="text-align: center; color: #d87921;">Gráficos das demandas dos produtos:</h3>

  <p class="Graf-tipo-poste-txt"  (click)="go ('/grafico')">Gráfico dos tipos de postes</p>
  <img class="Grafic-conjTipo"  (click)="go ('/grafico')" src="../../assets/Graf-tipo-poste.png"/> 
  <p class="Grafic-Usuario-txt"  (click)="go ('/grafico-lampada')">Gráfico dos tipos de lâmpadas</p>
  <img class="Grafic-usuario" src="../../assets/Graf-tipo-poste.png"/> 

</ion-content>
