<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-icon name="home-outline" color="favorite" routerLink="/home" class="casaGraf"></ion-icon>
  <img class="logoDemanda" style="width: 85%; margin-left: 7%;" src="../../assets/VoltA.png">
  

  <p class="Graf-tipo-poste-txt" routerLink="/grafico">Gráfico dos<br> ultimos meses</p>
  <img class="Grafic-conjTipo" routerLink="/grafico" src="../../assets/Graf-tipo-poste.png"/> 
  <p class="Grafic-Usuario-txt" routerLink="/cadastro-lampada">Cadastre um <br>novo gráfico</p>
  <img class="Grafic-usuario" routerLink="/grafico" src="../../assets/Graf-tipo-poste.png"/> 

</ion-content>
