.casaGraf{
    width: 10%;
    height: 10%;
    margin-left: 7%;
   
}

.Grafic-conjTipo{
    width: 90%;
    margin-left: 5%;
}
.Grafic-usuario{
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;

}

.Graf-tipo-poste-txt{
    position: absolute;
    margin-left: 40%;
  margin-top: 8%;
  font-size: x-large;
  line-height: 140%;
 color: #000000;
 font-weight: bold;
}

.Grafic-Usuario-txt{
    position: absolute;
    margin-left: 40%;
  margin-top: 17%;
  font-size: x-large;
  line-height: 140%;
 color: #000000;
 font-weight: bold;
}

.bttVoltarconjunto{
    width: 10%;
    height: 10%;
    
}