<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recuperacao</ion-title>
    </ion-toolbar>
  </ion-header>
 <ion-icon name="return-up-back-outline" class="bttVoltarrecuperacao" color="favorite" style="margin-left: 5%; margin-top: 5%;"  (click)="go ('/autenticacao')" ></ion-icon>
  <img src="../../assets/VoltA.png">

  <ion-input required class="cadEmail"  color="favorite" label="Email" label-placement="floating" fill="outline" placeholder="Digite o email fornecido pela empresa" helperText="Insira um Email válido" errorText="Email inválido" ngModel email></ion-input>

  <ion-button class="Cconta" shape="round" fill="solid" color="favorite" style="width: 50%; margin-left: 25%;">Recuperar</ion-button> 
</ion-content>
