
 <!-- Graficos tipos de postes -->
 <app-menu content-id="main-content-grafico"></app-menu>
 <ion-toolbar>
 <ion-buttons slot="start">
  <ion-menu-button color="favorite"></ion-menu-button>
</ion-buttons>
</ion-toolbar>

 

<ion-content [fullscreen]="true" id="main-content-grafico">
  <ion-icon name="return-up-back-outline" class="bttVoltargrafico" color="favorite" style="margin-left: 5%; margin-top: 5%;"  (click)="go ('/conjunto-grafico')"></ion-icon>
  <ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casaGraf"></ion-icon>

  <p-chart type="pie" [data]="data2"/> 
  <div class="card">
    <p-chart type="bar" [data]="data" [options]="options"/>
  </div>

</ion-content>
