
  <ion-grid>
    <ion-row  class="etapa3">
      <ion-col><img src="assets/logo3.png"></ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col><h1  class="etapa3">Conclusão:</h1></ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col  class="etapa3">Agora que já conheceu sobre o aplicativo,<br>está pronto para utilizar os nossos serviços!</ion-col>
      
    </ion-row>
  </ion-grid>
  <ion-button shape="round" fill="outline" color="favorite" class="botaoAcessar" routerLink="/autenticacao" style="width: 30%; margin-left: 35%;">Acessar</ion-button>
  
  <div class="container-25">
    <div class="ellipse-7">
    </div>
<div class="ellipse-7">
    </div>
   <div class="ellipse-9">
    </div>
  </div>


