<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">autenticacao</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="../../assets/VoltA.png">

  <ion-input required class="cadEmail"  color="favorite" label="Email" label-placement="floating" fill="outline" placeholder="Digite o email fornecido pela empresa"helperText="Insira uma senha válida" errorText="Senha inválida" ngModel email></ion-input>
  <br>

  <ion-input required class="cadSenha" type="password" color="favorite" label="Senha" label-placement="floating" fill="outline" placeholder="Digite a senha fornecida pela empresa" helperText="Insira uma senha válida" errorText="Senha inválida" ngModel></ion-input>    
  <a href="" class="Esenha" routerLink="/recuperacao">Esqueci minha senha</a>
<br>
<br>
  <ion-button shape="round" fill="outline" color="favorite" class="botaoAcessar" routerLink="/home" style="width: 30%; margin-left: 35%;">Entrar</ion-button>

  <ion-button class="Cconta" shape="round" fill="solid" color="favorite" routerLink="/cadastro" style="width: 50%; margin-left: 25%;">Criar conta</ion-button> 
</ion-content>
