.img-Home-Txt2{
    position: absolute;
    margin-left: 33%;
    margin-top: 9%;
    font-size: larger;
    line-height: 140%;
   color: #000000;
   font-weight: bold;
  }

  .img-Home-Txt{
    position: absolute;
   margin-left: 35%;
   margin-top: 12%;
   font-size: medium;
   line-height: 140%;
   color: #da893e;
  }

  .péHome{
    margin-top: 360px;
  }
  


  ion-input {
    font-size: 0.7rem;
  }