.casa{
    width: 8%;
    height: 8%;
    margin-left: 20%;
    margin-top: 5%;
}

.bttVoltarCadastro-lamp{
    width: 10%;
    height: 10%;
    position: absolute;
    margin-top: 3%;

}

.CadLamp-text{
   margin-top: 15%;
}