
<app-menu content-id="main-content-cadastrocomentario"></app-menu>
<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button color="favorite"></ion-menu-button>
  </ion-buttons>
  <ion-img id="img-logo"src="../../assets/VoltA.png"></ion-img>
</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id="main-content-cadastrocomentario">
 
<ion-icon name="return-up-back-outline" class="bttVoltarCadastro-lamp" color="favorite" style="margin-left: 5%; "  (click)="go ('/feedback')"></ion-icon>
<ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casa"></ion-icon>

  <div class="CadLamp-text">
    <ion-label color="favorite" class="LampSty">
      <h1>Cadastre o seu comentário</h1>
    </ion-label>
  


  <div class="Lamp">
    <ion-input [(ngModel)]="descricao" class="cadNome" color="favorite" label="Descrição" label-placement="floating" fill="outline" placeholder="Digite aqui"></ion-input>
  <br>

  <ion-button (click)="salvar()" shape="round" fill="outline" color="favorite" class="botaoAcessar" style="width: 30%; margin-left: 35%;">Publicar</ion-button>
  
  </div>
</div>


</ion-content>
