.casaListacadconj{
    width: 10%;
    height: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

.Txt-lista-lamp{
    position: absolute;
  margin-left: 33%;
  font-size: xx-large;
  line-height: 140%;
 color: #000000;
 font-weight: bold;
 margin-bottom: 10%;
}
  
.Txt-lista-poste{
  position: absolute;
  margin-left: 33%;
  margin-top: 45%;
  font-size: xx-large;
  line-height: 140%;
 color: #000000;
 font-weight: bold;
}