.casaListagens{
    width: 10%;
    height: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

.logoListagens{
    //margin-bottom: 30%;
}

.ListagemPoste{
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
}

.ListagemLamp{
    width: 90%;
    margin-left: 5%;
}