

<!-- Menu Principal - Abre do lado -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="favorite">
      <ion-title>
        <ion-icon name="person-circle" color="black"></ion-icon>
      </ion-title>          
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list lines="full">
      <ion-item>
        <ion-label color="favorite">Gráfico</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="favorite" routerLink="/feedback">Feedback</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="favorite" routerLink="/demanda">Demanda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="favorite" routerLink="/perfil">Perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="favorite" routerLink="/listagens">Listagens de demandas</ion-label>
      </ion-item>
    </ion-list>

    <ion-footer class="péHome"><ion-input [readonly]="true" class="no-click" placeholder="Informação para contato - voltAnalytics@gmail.com"></ion-input></ion-footer>
  </ion-content>
</ion-menu>
<!-- Menu Principal - Abre do lado -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar  class="teste">
       <ion-buttons slot="start">
        <ion-menu-button color="favorite"></ion-menu-button>
      </ion-buttons>
     

      <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>

    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">
  <ion-icon name="home-outline" color="favorite" routerLink="/home" class="casaListagens"></ion-icon>
  <p class="Txt-listar-lamp" routerLink="/listar-lampada">Lista de lâmpadas</p>
  
  <img class="logoListagens" src="../../assets/VoltA.png">
  <p class="Txt-listar-poste" routerLink="/listar-poste">Lista de<br> postes</p>

  <img class="ListagemLamp" routerLink="/listar-lampada" src="../../assets/listagem-lamp.png">

  <img class="ListagemPoste" routerLink="/listar-poste" src="../../assets/Listagem-poste.png">

</ion-content>
