<app-menu content-id="main-content-listagens"></app-menu>
<div class="ion-page" id="main-content-listagens">
  <ion-header>
    <ion-toolbar  class="teste">
       <ion-buttons slot="start">
        <ion-menu-button color="favorite"></ion-menu-button>
      </ion-buttons>
     

      <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true" id="main-content-listagens">
  <ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casaListagens"></ion-icon>

  <h3 style="text-align: center; color: #d87921;">Lista dos cadastros já feitos:</h3>
  <p class="Txt-listar-lamp" (click)="go ('/listar-lampada')" >Lista de<br> lâmpadas</p>
  

  <p class="Txt-listar-poste" (click)="go ('/listar-poste')" >Lista de<br> postes</p>

  <img class="ListagemLamp" (click)="go ('/listar-lampada')"  src="../../assets/listagem-lamp.png">

  <img class="ListagemPoste" (click)="go ('/listar-poste')"  src="../../assets/Listagem-poste.png">

</ion-content>
