.casaListarPoste{
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 2%;
  margin-left: 5%;
}

.bListarPoste{
    margin-left: 70%;
    position: absolute;
    
}

.teste{
  margin-top: 20%;
}

