.casaListarPoste{
  width: 30px;
  height: 30px;
  margin-left: 220%;
}

.bListarPoste{
    margin-left: 70%;
}

.bttVoltarListar-poste{
  width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 5%;
}