<app-menu content-id="main-content-listarposte"></app-menu>
  <ion-header>
    <ion-toolbar>
<ion-buttons slot="start">
  <ion-menu-button color="favorite"></ion-menu-button>
</ion-buttons>
<ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" id="main-content-listarposte">

  <ion-button (click)="go ('/cadastro-poste')" color="favorite" class="bListarPoste">novo</ion-button>
<ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casaListarPoste"></ion-icon>

<div class="teste">
  <ion-list>
    <ion-item *ngFor="let poste of postes">
      <ion-label slot="start">{{ poste.unidade}}</ion-label>
      <ion-label slot="start">{{ poste.descricao}}</ion-label>
      <ion-label slot="start">{{ poste.tipoPoste}}</ion-label>
      <ion-icon name="create" (click)="editar(poste.id)" style="width: 30%; margin-left: 40%;"></ion-icon>
      <ion-icon name="trash" (click)="excluir(poste.id)" color="danger"></ion-icon>
    </ion-item>
  </ion-list>
</div>

</ion-content>
