
<app-menu content-id="main-content-cadastrolamp"></app-menu>
<ion-content [fullscreen]="true" id="main-content-cadastrolamp">
  <ion-icon name="home-outline" color="favorite" routerLink="/home" class="casa"></ion-icon>
  <ion-header>
  <ion-buttons slot="start">
    <ion-menu-button color="favorite"></ion-menu-button>
  </ion-buttons>
</ion-header>

  <ion-img src="../../assets/VoltA.png"></ion-img>

    <ion-label color="favorite" class="LampSty">
      <h1>Cadastre sua lâmpada</h1>
    </ion-label>
  


  <div class="Lamp">
    <ion-input [(ngModel)]="descricao" required class="cadNome" color="favorite" label="Descrição" label-placement="floating" fill="outline" placeholder="Digite o tipo de lâmpada"></ion-input>
  <br>

  <ion-button (click)="salvar()" shape="round" fill="outline" color="favorite" class="botaoAcessar" style="width: 30%; margin-left: 35%;">Cadastrar</ion-button>
  
  </div>



</ion-content>
