

<ion-content [fullscreen]="true">

  <ion-img src="../../assets/VoltA.png"></ion-img>

    <ion-label color="favorite" class="LampSty">
      <h1>Cadastre sua lâmpada</h1>
    </ion-label>
  


  <div class="Lamp">
    <ion-input required class="cadNome" color="favorite" label="Descrição" label-placement="floating" fill="outline" placeholder="Digite o tipo de lâmpada"></ion-input>
  <br>

  <ion-button shape="round" fill="outline" color="favorite" class="botaoAcessar" style="width: 30%; margin-left: 35%;">Cadastrar</ion-button>
  
  </div>

</ion-content>
