

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-app>
    <!-- Menu Principal - Abre do lado -->
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="favorite">
          <ion-title>
            <ion-icon name="person-circle" color="black"></ion-icon>
          </ion-title>          
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"></ion-content>
    </ion-menu>
    <!-- Menu Principal - Abre do lado -->

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title></ion-title>

          <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>

        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-title class="card1">Bom te ver aqui!</ion-card-title>
          <img src="../../assets/teste.png" />
          
        
        </ion-card>
      
        <ion-card color="light" class="cardApp" class="AcessoRapido1">
          
          <ion-card-content>
            <img src="../../assets/grafico.png"/>  
          </ion-card-content>
        </ion-card>

        <ion-card color="light" class="cardApp" class="AcessoRapido2">
          
          <ion-card-content> 
            <img src="../../assets/feedback.png"/>  
          </ion-card-content>
        </ion-card>

        <ion-card color="light" class="cardApp" class="AcessoRapido3">
          <ion-card-content> 
            <img src="../../assets/demanda.png"/>  
          </ion-card-content>
        </ion-card>

        <ion-card color="light" class="cardApp" class="AcessoRapido4">
        
          <ion-card-content> 
          <img src="../../assets/perfil.png"/>
         </ion-card-content>
        </ion-card>
      </ion-content>
    </div>
  </ion-app>

  

