
  <ion-app>
    <app-menu content-id="main-content"></app-menu>
    <div class="ion-page" id="main-content" >
      <ion-header>
        <ion-toolbar  class="teste">
           <ion-buttons slot="start">
            <ion-menu-button color="favorite"></ion-menu-button>
          </ion-buttons>
          <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" id="main-content">
        
        <ion-card>
          <ion-card-title class="card1">{{ traducao_service.traducao(texto.saudacao) }}</ion-card-title>
          <p class="img-Home-Txt">{{ traducao_service.traducao(texto.boas_vindas) }}</p>
          <img src="../../assets/imgHome.png" />
          
        </ion-card>
        
      
        <ion-card color="light" class="cardApp" class="AcessoRapido1">
          
          <ion-card-content>
            <img class="graf" src="../../assets/grafico.png" (click)="go('/conjunto-grafico')" > 
            <p style="text-align: center;" (click)="go('/conjunto-grafico')" class="colorText">{{ traducao_service.traducao(texto.grafico) }}</p> 
          </ion-card-content>
        </ion-card>

        <ion-card color="light" class="cardApp" class="AcessoRapido2">
          
          <ion-card-content> 
            <img  class="feed" (click)="go('/feedback')"  src="../../assets/eletricista.png"/> 
            <p style="text-align: center;" (click)="go('/feedback')" class="colorText">{{ traducao_service.traducao(texto.feedback) }}</p> 
          </ion-card-content>
        </ion-card>

        <ion-card color="light" class="cardApp" class="AcessoRapido3">
          <ion-card-content > 
            <img class="dem" (click)="go('/demanda')" src="../../assets/poste.png"/> 
            <p style="text-align: center;" (click)="go('/demanda')" class="colorText">{{ traducao_service.traducao(texto.demanda) }}</p> 
          </ion-card-content>
        </ion-card>

        <ion-card color="light" class="cardApp" class="AcessoRapido4">
        
          <ion-card-content> 
          <img class="perfil"  (click)="go('/perfil')" src="../../assets/perfil.png"/>
          <p style="text-align: center;" class="colorText" (click)="go('/perfil')">{{ traducao_service.traducao(texto.perfil) }}</p>
         </ion-card-content>
        </ion-card>
        <p class="img-Home-Txt2" (click)="go('/listagens')">{{ traducao_service.traducao(texto.listagem) }}</p>
        <img class="ListaHome" src="../../assets/Home-Listagens.png" (click)="go('/listagens')">
 

    

      </ion-content>
    </div>
  </ion-app>

  

