<app-menu content-id="main-content-demanda"></app-menu>

    <ion-header>
      <ion-toolbar  class="teste">
         <ion-buttons slot="start">
          <ion-menu-button color="favorite"></ion-menu-button>
        </ion-buttons>
       

        <ion-img id="img-logo" src="../../assets/VoltA.png"></ion-img>

      </ion-toolbar>
    </ion-header>    

<ion-content [fullscreen]="true" id="main-content-demanda"> 
  
  
  <ion-icon name="home-outline" color="favorite" (click)="go ('/home')" class="casaDemanda"></ion-icon>



 
 
  <p class="demanda-lamp-txt" (click)="go ('/cadastro-lampada')">Cadastre a <br>sua lâmpada</p>
    <img class="demandalampcard" (click)="go ('/cadastro-lampada')" src="../../assets/demanda-lamp.png"/> 
    <p class="demanda-poste-txt" (click)="go ('/cadastro-poste')">Cadastre o <br>seu poste</p>
    <img class="demandapostcard" (click)="go ('/cadastro-poste')" src="../../assets/demanda-poste.png"/> 
 
 


</ion-content>
