.demandalampcard{
    width: 90%;
   margin-left: 5%;
    
}
.demandapostcard{
    margin-top: 10%;
    width: 90%;
   margin-left: 5%;
    
}
.casaDemanda{
   
    width: 10%;
    height: 10%;
    margin-left: 7%;
   
}

.logoDemanda{
    width: 70%;
    
}